
# RStudio project files
*.Rproj

# RStudio settings folder
.Rproj.user/

# R session files
.Rproj.user
.Rhistory
.RData
.Ruserdata.


# others
output/*
script/*/*

# avoid heavy results
result/create_static_map/create_static_map.html